<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,noimageindex,nofollow,noarchive,nosnippet,nocache">
    <title>{% if exception_type %}{{ exception_type }}{% else %}An error occurred{% endif %}</title>
    <link href="/static/tailwind.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="application/javascript" src="/static/init.js" defer async></script>
</head>
<body class="">
{% if not is_email %}
<div class="notification">
    <p>
      You’re seeing this because you have <code class="font-bold">DEBUG = True</code> in your
      Django settings. When set to <code class="font-bold">False</code>, Django will
      display a generic template for this status code.
    </p>
</div>
{% endif %}
<div class="masthead">
    <div class="masthead-details">
        {% if request %}
        <div class="masthead-request">
            <div class="masthead-request-badge">{{ request.META.REQUEST_METHOD }}</div>
            <div class="masthead-request-url">{{ request_insecure_uri }}</div>
        </div>
        {% endif %}
        <div class="masthead-error">
            <h1 class="masthead-error-title">{% if exception_type %}{{ exception_type }}{% else %}An error occurred{% endif %}</h1>

            {% if unicode_hint %}
            <h3 class="text-lg text-red-500 font-semibold">The string that could not be encoded/decoded was: <strong>{{ unicode_hint }}</strong></h3>
            <h2 class="text-lg text-red-500 font-normal">{% if exception_value %}{{ exception_value|force_escape }}{% else %}No exception message supplied{% endif %}</h2>
            {% elif template_does_not_exist and postmortem %}

                <h2 class="text-lg text-red-400 font-normal">
                    {% if exception_value %}
                    Failed to load a template matching <strong>{{ exception_value|force_escape }}</strong>
                    {% else %}
                    Failed to load a template
                    {% endif %}
                </h2>

            {% elif template_does_not_exist %}
                <h2 class="text-lg text-red-400 font-normal">No templates were found because your 'TEMPLATES' setting is not configured.</h2>
            {% else %}
            <h2 class="text-lg text-red-400 font-normal">{% if exception_value %}{{ exception_value|force_escape }}{% else %}No exception message supplied{% endif %}</h2>
            {% endif %}

        </div>

        <!--
        {% if lastframe %}
        <div class="px-10 py-4 bg-red-200">
            <span class="fname">{{ lastframe.filename }}</span>, line {{ lastframe.lineno }}, in {{ lastframe.function }}
        </div>
        {% endif %}
        -->

        <div class="masthead-server-info">
            <div class="pr-10">Django {{ django_version_info }}</div>
            <div class="pr-10 flex-grow">Python {{ sys_version_info }}</div>
            {% if user_str %}
            <div class="pr-10 flex-grow-0 text-right">{{ user_str }}</div>
            {% endif %}
            <div class="flex-grow-0 text-right">{{ server_time|date:"r" }}</div>


        </div>

    </div>
</div>

<div class="technical-error">

    <div class="technical-error-details">


        <ul class="tab-group">
            {% if template_info or postmortem %}
            <li data-tab-target="#templates" class="tab active">
                Template
            </li>
            {% endif %}
            {% if frames %}
            <li data-tab-target="#traceback" class="tab">
                Traceback
            </li>
            {% endif %}
            <li data-tab-target="#get" class="tab">
                Request Data
            </li>
            <li data-tab-target="#cookies" class="tab">
                Cookies
            </li>
            <li data-tab-target="#request_environ" class="tab">
                Environment
            </li>
            <li data-tab-target="#settings" class="tab">
                Settings
            </li>
        </ul>

        {% if postmortem %}
        <section id="templates" class="">
        <p>Templates were tried in the following order:</p>
        <ol class="pt-4">
        {% for entry in postmortem %}
                    {% if entry.tried %}
                        {% for attempt in entry.tried %}
                        <li class="border-b px-6 py-2">
                            <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-gray-500 bg-gray-200 rounded">{{ entry.backend.name }}</span>
                            <code class="text-sm">{{ attempt.0.name }}</code>
                            <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-gray-500 bg-gray-200 rounded">{{ attempt.0.loader_name }}</span>
                            <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-gray-500 bg-gray-200 rounded">{{ attempt.1 }}</span>
                        </li>
                        {% endfor %}
                    {% else %}
                        <li class="border-b px-6 py-2">
                            <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-gray-500 bg-gray-200 rounded">{{ entry.backend.name }}</span>
                            <span class="text-gray-400">Backend did not provide a list of templates tried.</span>
</li>
                    {% endif %}
        {% endfor %}
        </ol>

        {% if settings and settings.TEMPLATES or settings.FORM_RENDERER %}
        <div class="py-4">
        <h6 class="related-settings">Related settings</h6>
            <ul class="pairwise-group">
            <li class="pairwise">
                <span class="pairwise-key">TEMPLATES</span>
            <span class="pairwise-value">
                <pre class="">{{ settings.TEMPLATES|pprint }}</pre>
            </span>
            </li>
            <li class="pairwise">
                <span class="pairwise-key">FORM_RENDERER</span>
            <span class="pairwise-value">
                <pre class="">{{ settings.FORM_RENDERER|pprint }}</pre>
            </span>
            </li>
        </ul>
            </div>
        {% endif %}
        </section>
        {% endif %}

        {% if frames %}
        <section id="traceback" class="{% if template_info or postmortem %}hidden{% endif %}">
            <ol class="">
                {% for frame in frames %}
                    {% ifchanged frame.exc_cause %}
                    {% if frame.exc_cause %}
                        <li><strong>
                        {% if frame.exc_cause_explicit %}
                            The above exception ({{ frame.exc_cause|force_escape }}) was the direct cause of the following exception:
                          {% else %}
                            During handling of {{ frame.exc_cause|force_escape }}, another exception occurred:
                          {% endif %}
                        </strong></li>
                    {% endif %}
                    {% endifchanged %}

                    {% if frame.tb %}
                        <li class="">
                            <div class="flex flex-row py-2 px-6 items-center {% if frame.type == 'user' %}bg-gray-100 text-gray-700{% else %}bg-gray-50 text-gray-400{% endif %}">
                                <span class="flex-grow truncate">line <code class="font-semibold">{{ frame.lineno }}</code> in <code>{{ frame.filename }}</code></span>
                                <span class="flex-grow-0 pl-5"><code class="font-semibold">{{ frame.function }}</code></span>
                            </div>
                            <div class="{% if frame.type == 'user' %}{% else %}hidden{% endif %}">
                            {% if frame.context_line %}
                            {% for line in frame.pre_context %}
                            {% if line %}<pre class="hidden bg-gray-50 text-gray-500 px-6 overflow-hidden text-ellipsis">{{ line }}</pre>{% endif %}
                            {% endfor %}

                            <pre class="bg-red-500 text-white px-6 overflow-hidden text-ellipsis">{{ frame.context_line }}</pre>

                            {% if frame.vars %}
                                <ul class="hidden bg-red-200 text-red-700 px-6 py-2">
                                <li><strong>Local variables</strong></li>
                                {% for var_name, var_value in frame.vars|dictsort:0 %}
                                <li><pre class="truncate">{{ var_name }} = {{ var_value }}</pre></li>
                                {% endfor %}
                                </ul>
                            {% endif %}

                            {% for line in frame.post_context %}
                            {% if line %}<pre class="hidden bg-gray-50 text-gray-500 px-6 overflow-hidden text-ellipsis">{{ line }}</pre>{% endif %}
                            {% endfor %}
                            {% endif %}
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>

            <h6 class="related-settings">Related settings</h6>
            <ul class="pairwise-group">
            <li class="pairwise">
                <span class="pairwise-key">ADMINS</span>
            <span class="pairwise-value">
                <pre class="">{{ settings.ADMINS|pprint }}</pre>
            </span>
            </li>
            {% for key, value in settings.items|dictsort:0 %}
                    {% if 'EXCEPTION' in key or 'DEBUG' in key %}
            <li class="pairwise">
                <span class="pairwise-key">{{ key }}</span>
            <span class="pairwise-value">
                <pre class="">{{ value|pprint }}</pre>
            </span>
            </li>
                {% endif %}
                {% endfor %}
        </ul>
        </section>
        {% endif %}



        <section id="get" class="hidden">

            <h6>request.GET</h6>
            <ul class="pairwise-group">
            {% for var_name, var_value in request_GET_items|dictsort:0 %}
            <li class="pairwise">
                <code class="pairwise-key">{{ var_name }}</code>
                <pre class="pairwise-value">{{ var_value|pprint }}</pre>
            </li>
            {% empty %}
            <li class="pairwise-key">
                <span class="pairwise-value">No request.GET data parsed.</span>
            </li>
            {% endfor %}
            </ul>

            <h6>request.POST</h6>
            <ul class="pairwise-group">
            {% for var_name, var_value in filtered_POST_items|dictsort:0 %}
            <li class="pairwise">
                <code class="pairwise-key">{{ var_name }}</code>
                <pre class="pairwise-value">{{ var_value|pprint }}</pre>
            </li>
            {% empty %}
            <li class="table-row text-sm">
                <span class="table-cell border-b px-6 py-2">
                    <code>request.POST</code>
                </span>
                <span class="table-cell border-b px-6 py-2">
                    <code>No data</code>
                </span>
            </li>
            {% endfor %}
            </ul>

            <h6>request.FILES</h6>
            <ul class="pairwise-group">
            {% for var_name, var_value in request_FILES_items|dictsort:0 %}
            <li class="pairwise">
                <code class="pairwise-key">{{ var_name }}</code>
                <pre class="pairwise-value">{{ var_value|pprint }}</pre>
            </li>
            {% empty %}
            <li class="table-row text-sm">
                <span class="table-cell border-b px-6 py-2">
                    <code>request.FILES</code>
                </span>
                <span class="table-cell border-b px-6 py-2">
                    <code>No data12</code>
                </span>
            </li>
            {% endfor %}
            </ul>

            <h6 class="related-settings">Related settings</h6>
            <ul class="pairwise-group">
            {% for key, value in settings.items|dictsort:0 %}
            {% if 'DATA_UPLOAD' in key or 'FILE_UPLOAD' in key or 'MEDIA_' in key or 'DEFAULT_FILE_STORAGE' in key %}
            <li class="pairwise">
                <code class="pairwise-key">{{ key }}</code>
                <pre class="pairwise-value">{{ value|pprint }}</pre>
            </li>
            {% endif %}
            {% endfor %}
            </ul>

        </section>

        {% if request_COOKIES_items %}
        <section id="cookies" class="hidden">


            <ul class="pairwise-group">
            {% for var_name, var_value in request_COOKIES_items|dictsort:0 %}
            <li class="pairwise">
                <code class="pairwise-key">{{ var_name }}</code>
                <code class="pairwise-value">{{ var_value|pprint }}</code>
            </li>
            {% endfor %}
            </ul>

            <h6 class="related-settings">Related settings</h6>

                <ul class="pairwise-group">
                {% for key, value in settings.items|dictsort:0 %}
                    {% if 'COOKIE' in key %}
            <li class="pairwise">
                <code class="pairwise-key">{{ key }}</code>
                <pre class="pairwise-value">{{ value|pprint }}</pre>
            </li>
                    {% endif %}
                    {% endfor %}
                </ul>

        </section>
        {% endif %}

        <section id="request_environ" class="hidden">

            <ul class="table table-auto w-full max-w-full">
            {% if sys_executable %}
            <li class="table-row text-sm">
                <span class="table-cell border-b px-6 py-2">Python Executable</span>
                <span class="table-cell border-b px-6 py-2">
                    <code style="word-break: break-word">{{ sys_executable }}</code>
                </span>
            </li>
            {% endif %}
            {% if sys_path %}
            <li class="table-row text-sm">
                <span class="table-cell border-b px-6 py-2">Python Path</span>
                <span class="table-cell border-b px-6 py-2">
                    {% for path in sys_path %}
                    <code class="flex" style="word-break: break-word">{{ path }}</code>
                    {% endfor %}
                </span>
            </li>
            {% endif %}
            {% for var_name, var_value in request_meta.items|dictsort:0 %}
            <li class="table-row text-sm">
                <span class="table-cell border-b px-6 py-2">
                    <code>{{ var_name }}</code>
                </span>
                <span class="table-cell border-b px-6 py-2">
                    <code style="word-break: break-word">{{ var_value|pprint }}</code>
                </span>
            </li>
            {% endfor %}
            </ul>

        </section>


        <section id="settings" class="hidden">

            <div class="flex flex-col lg:flex-row bg-gray-100 rounded">
            <div class="w-full lg:w-1/2 py-4 px-6">
                <h6 class="font-semibold">Installed Apps</h6>
                <ol>
                    {% for app in settings.INSTALLED_APPS %}
                    <li><code>{{ app }}</code></li>
                    {% endfor %}
                </ol>
            </div>
            <div class="w-full lg:w-1/2  py-4 px-6 ">
                <h6 class="font-semibold">Installed Middleware</h6>
                <ol>
                    {% for mw in settings.MIDDLEWARE %}
                    <li><code>{{ mw }}</code></li>
                    {% endfor %}
                </ol>
            </div>
            </div>

            <ul class="pairwise-group" role="list">
            {% for var_name, var_value in settings.items|dictsort:0 %}
            <li class="pairwise">
                <span class="pairwise-key">
                    <code>{{ var_name }}</code>
                </span>
                <span class="pairwise-value">
                    <pre style="word-break: break-word">{{ var_value|pprint }}</pre>
                </span>
            </li>
            {% endfor %}
            </ul>

        </section>
    </div>
</div>

<div class="bg-white">
    <div>
        {% if template_info %}
        <div>
        <h3>In template <code>{{ template_info.name }}</code>, error on line <strong class="text-red-500">{{ template_info.line }}</strong></h3>
        <h4>{{ template_info.message }}</h4>

        <ol class="list-decimal pl-5">
        {% for source_line in template_info.source_lines %}
            <li value="{{ source_line.0 }}">
            {% if source_line.0 == template_info.line %}
            <code>{{ source_line.1 }}</code>&nbsp;
            {% endif %}
            </li>
        {% endfor %}
        </ol>
        </div>
        {% endif %}

        <div class="">

        </div>
    </div>

</div>
</body>
</html>
