<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,noimageindex,nofollow,noarchive,nosnippet,nocache">
    <title>{% if exception_type %}{{ exception_type }}{% else %}An error occurred{% endif %}</title>
    <link href="/static/tailwind.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="application/javascript" src="/static/init.js" defer async></script>
</head>
<body class="debug-grid">
<div class="guideline"><div class="guideline2"></div></div>

{% if not is_email %}
<div class="notification">
    <p>
      You’re seeing this because you have <code class="font-bold">DEBUG = True</code> in your
      Django settings. When set to <code class="font-bold">False</code>, Django will
      display a generic template for this status&nbsp;code.
    </p>
</div>
{% endif %}
<div class="masthead">
    <div class="masthead-details">
        {% if request %}
        <div class="masthead-request">
            <div class="masthead-request-badge">{{ request.META.REQUEST_METHOD }}</div>
            <div class="masthead-request-url">{{ request_insecure_uri }}</div>
        </div>
        {% endif %}
        <div class="masthead-error">
            <h1 class="masthead-error-title">{% if exception_type %}{{ exception_type }}{% else %}An error occurred{% endif %}</h1>

            {% if unicode_hint %}
                <p class="masthead-error-subtitle">The string that could not be encoded/decoded was: <strong>{{ unicode_hint }}</strong></p>
                <p class="masthead-error-subtitle">{% if exception_value %}{{ exception_value|force_escape }}{% else %}No exception message supplied{% endif %}</p>
            {% elif template_does_not_exist and postmortem %}

                <p class="masthead-error-subtitle">
                Failed to load a template {% if exception_value %}matching <code>{{ exception_value|force_escape }}</code>{% endif %}
                </p>

            {% elif template_does_not_exist %}
                <p class="masthead-error-subtitle">No templates were found because your 'TEMPLATES' setting is not configured.</p>
            {% else %}
            <p class="masthead-error-subtitle">{% if exception_value %}{{ exception_value|force_escape }}{% else %}No exception message supplied{% endif %}</p>
            {% endif %}

            <p class="masthead-location">
                Raised
                {% if raising_view_name %} during view <code>{{ raising_view_name }}</code>{% endif %}
                {% if lastframe %} by <code>{{ lastframe.function }}</code> on line <code>{{ lastframe.lineno }}</code> in <code>{{ lastframe.filename }}</code>{% endif %}
            </p>

        </div>

        <!--
        {% if lastframe %}
        <div class="px-10 py-4 bg-red-200">
            <span class="fname">{{ lastframe.filename }}</span>, line {{ lastframe.lineno }}, in {{ lastframe.function }}
        </div>
        {% endif %}
        -->

        <div class="masthead-server-info">
            <div class="pr-10">Django {{ django_version_info }}
<!--            <a href="https://docs.djangoproject.com/en/4.0/">Docs</a>-->
            </div>
            <div class="pr-10 flex-grow">Python {{ sys_version_info }}</div>
            {% if user_str %}
            <div class="pr-10 flex-grow-0 text-right">{{ user_str }}</div>
            {% endif %}
            <div class="flex-grow-0 text-right">{{ server_time|date:"r" }}</div>


        </div>

    </div>
</div>

<ul class="tab-group">
    {% if template_info or postmortem %}
    <li data-tab-target="#templates" class="tab active">
        Template
    </li>
    {% endif %}
    {% if frames %}
    <li data-tab-target="#traceback" class="tab {% if template_info or postmortem %}{% else %}active{% endif %}">
        Traceback
    </li>
    {% endif %}
    <li data-tab-target="#get" class="tab">
        Request Data
    </li>
    <li data-tab-target="#cookies" class="tab">
        Cookies
    </li>
    <li data-tab-target="#request_environ" class="tab">
        Environment
    </li>
    <li data-tab-target="#settings" class="tab">
        Settings
    </li>
</ul>

<div class="technical-error">

    <div class="technical-error-details">

        {% if template_info %}
        <section id="templates" class="">
            <ol class="traceback">
                <li data-traceback class="traceback-frame user active">
                    <div class="traceback-where">
                        <span class="traceback-file">Line <code class="">{{ template_info.line }}</code> in template <code class="">{{  template_info.name }}</code></span>
                    </div>
                    <div class="traceback-content">
                        <pre class="traceback-context"><span>{% for source_line in template_info.source_lines %}{% if source_line.0 == template_info.line %}<span class="traceback-context-raising">{{ template_info.before }}<span class="specific">{{ template_info.during }}</span>{{ template_info.after }}</span>{% else %}{{ source_line.1 }}{% endif %}{% endfor %}</span></pre>
                    </div>
                </li>
            </ol>

        {% if settings and settings.TEMPLATES or settings.FORM_RENDERER %}
        <div class="related-settings">
        <h6>Related settings</h6>
            <ul class="pairwise-group">
            <li class="pairwise">
                <span class="pairwise-key">TEMPLATES</span>
                <pre class="pairwise-value">{{ settings.TEMPLATES|pprint }}</pre>
            </li>
            <li class="pairwise">
                <span class="pairwise-key">FORM_RENDERER</span>
            <span class="pairwise-value">
                <pre class="">{{ settings.FORM_RENDERER|pprint }}</pre>
            </span>
            </li>
        </ul>
            </div>
        {% endif %}

        </section>
        {% elif postmortem %}
        <section id="templates" class="">
        <p>Templates were tried in the following order:</p>
        <ol class="pt-4">
        {% for entry in postmortem %}
                    {% if entry.tried %}
                        {% for attempt in entry.tried %}
                        <li class="border-b px-6 py-2">
                            <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-gray-500 bg-gray-200 rounded">{{ entry.backend.name }}</span>
                            <code class="text-sm">{{ attempt.0.name }}</code>
                            <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-gray-500 bg-gray-200 rounded">{{ attempt.0.loader_name }}</span>
                            <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-gray-500 bg-gray-200 rounded">{{ attempt.1 }}</span>
                        </li>
                        {% endfor %}
                    {% else %}
                        <li class="border-b px-6 py-2">
                            <span class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-gray-500 bg-gray-200 rounded">{{ entry.backend.name }}</span>
                            <span class="text-gray-400">Backend did not provide a list of templates tried.</span>
</li>
                    {% endif %}
        {% endfor %}
        </ol>

        {% if settings and settings.TEMPLATES or settings.FORM_RENDERER %}
        <div class="related-settings">
        <h6>Related settings</h6>
            <ul class="pairwise-group">
            <li class="pairwise">
                <span class="pairwise-key">TEMPLATES</span>
            <span class="pairwise-value">
                <pre class="">{{ settings.TEMPLATES|pprint }}</pre>
            </span>
            </li>
            <li class="pairwise">
                <span class="pairwise-key">FORM_RENDERER</span>
            <span class="pairwise-value">
                <pre class="">{{ settings.FORM_RENDERER|pprint }}</pre>
            </span>
            </li>
        </ul>
            </div>
        {% endif %}
        </section>
        {% endif %}

        {% if frames %}
        <section id="traceback" class="{% if template_info or postmortem %}hidden{% endif %}">
            <ol class="traceback">
                {% for frame in frames %}
                    {% ifchanged frame.exc_cause %}
                    {% if frame.exc_cause %}
                        <li class="traceback-cause-chain">
                        {% if frame.exc_cause_explicit %}
                            The above was was the direct cause of:<br>
                            {{ frame.exc_cause }}
                          {% else %}
                            A nother exception occurred during handling of:<br>
                            {{ frame.exc_cause|force_escape }}
                          {% endif %}
                        </li>
                    {% endif %}
                    {% endifchanged %}

                    {% if frame.tb %}
                        <li data-traceback class="traceback-frame {% if frame.type == 'user' %}user{% else %}library{% endif %}">
                            <div class="traceback-where">
                                <span class="traceback-file">Line <code class="">{{ frame.lineno }}</code> in <code class="">{{ frame.filename }}</code></span>
                                <span class="traceback-function"><code class="">{{ frame.function }}</code></span>
                            </div>
                            <div class="traceback-content">
                            {% if frame.context_line %}
                            <pre class="traceback-context"><span>{% for line in frame.pre_context %}{{ line }}
{% endfor %}<span class="traceback-context-raising">{{ frame.context_line }}</span>{% for line in frame.post_context %}{{ line }}
{% endfor %}</span></pre>
                            {% endif %}


                            {% if frame.vars %}
                                <div class="traceback-locals">
                                <h6>Local variables</h6>
                                <ul class="pairwise-group">
                                {% for var_name, var_value in frame.vars|dictsort:0 %}
                                <li class="pairwise">
                                    <code class="pairwise-key">{{ var_name }}</code>

                                    <code class="pairwise-value {% if ' at 0x' in var_value %}text-red-500{% endif %}">{{ var_value }}</code>
                               </li>
                                {% endfor %}
                                </ul>
                                </div>
                            {% endif %}
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>

<textarea id="traceback_area" hidden>
Environment:

{% if request %}
Request Method: {{ request.META.REQUEST_METHOD }}
Request URL: {{ request_insecure_uri }}
{% endif %}
Django Version: {{ django_version_info }}
Python Version: {{ sys_version_info }}
Installed Applications:
{{ settings.INSTALLED_APPS|pprint }}
Installed Middleware:
{{ settings.MIDDLEWARE|pprint }}

{% if template_does_not_exist %}Template loader postmortem
{% if postmortem %}Django tried loading these templates, in this order:
{% for entry in postmortem %}
Using engine {{ entry.backend.name }}:
{% if entry.tried %}{% for attempt in entry.tried %}    * {{ attempt.0.loader_name }}: {{ attempt.0.name }} ({{ attempt.1 }})
{% endfor %}{% else %}    This engine did not provide a list of tried templates.
{% endif %}{% endfor %}
{% else %}No templates were found because your 'TEMPLATES' setting is not configured.
{% endif %}{% endif %}{% if template_info %}
Template error:
In template {{ template_info.name }}, error at line {{ template_info.line }}
   {{ template_info.message }}
{% for source_line in template_info.source_lines %}{% if source_line.0 == template_info.line %}   {{ source_line.0 }} : {{ template_info.before }} {{ template_info.during }} {{ template_info.after }}{% else %}   {{ source_line.0 }} : {{ source_line.1 }}{% endif %}{% endfor %}{% endif %}

Traceback (most recent call last):{% for frame in frames %}
{% ifchanged frame.exc_cause %}{% if frame.exc_cause %}{% if frame.exc_cause_explicit %}
The above exception ({{ frame.exc_cause|force_escape }}) was the direct cause of the following exception:
{% else %}
During handling of the above exception ({{ frame.exc_cause|force_escape }}), another exception occurred:
{% endif %}{% endif %}{% endifchanged %}  {% if frame.tb %}File "{{ frame.filename }}"{% if frame.context_line %}, line {{ frame.lineno }}{% endif %}, in {{ frame.function }}
{% if frame.context_line %}    {% spaceless %}{{ frame.context_line }}{% endspaceless %}{% endif %}{% else %}{% if forloop.first %}None{% else %}Traceback: None{% endif %}{% endif %}{% endfor %}

Exception Type: {{ exception_type }}{% if request %} at {{ request.path_info }}{% endif %}
Exception Value: {{ exception_value|force_escape }}
</textarea>

            <button class="traceback-clipboard">Copy traceback to clipboard</button>

            <div class="related-settings">
            <h6>Related settings</h6>
                <ul class="pairwise-group">
                <li class="pairwise">
                    <span class="pairwise-key">ADMINS</span>
                <span class="pairwise-value">
                    <pre class="">{{ settings.ADMINS|pprint }}</pre>
                </span>
                </li>
                {% for key, value in settings.items|dictsort:0 %}
                        {% if 'EXCEPTION' in key or 'DEBUG' in key %}
                <li class="pairwise">
                    <span class="pairwise-key">{{ key }}</span>
                <span class="pairwise-value">
                    <pre class="">{{ value|pprint }}</pre>
                </span>
                </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </section>
        {% endif %}



        <section id="get" class="hidden">

            <h6>request.GET</h6>
            <ul class="pairwise-group">
            {% for var_name, var_value in request_GET_items|dictsort:0 %}
            <li class="pairwise">
                <code class="pairwise-key">{{ var_name }}</code>
                <pre class="pairwise-value">{{ var_value|pprint }}</pre>
            </li>
            {% empty %}
            <li class="pairwise-key">
                <span class="pairwise-value">No request.GET data parsed.</span>
            </li>
            {% endfor %}
            </ul>

            <h6>request.POST</h6>
            <ul class="pairwise-group">
            {% for var_name, var_value in filtered_POST_items|dictsort:0 %}
            <li class="pairwise">
                <code class="pairwise-key">{{ var_name }}</code>
                <pre class="pairwise-value">{{ var_value|pprint }}</pre>
            </li>
            {% empty %}
            <li class="table-row text-sm">
                <span class="table-cell border-b px-6 py-2">
                    <code>request.POST</code>
                </span>
                <span class="table-cell border-b px-6 py-2">
                    <code>No data</code>
                </span>
            </li>
            {% endfor %}
            </ul>

            <h6>request.FILES</h6>
            <ul class="pairwise-group">
            {% for var_name, var_value in request_FILES_items|dictsort:0 %}
            <li class="pairwise">
                <code class="pairwise-key">{{ var_name }}</code>
                <pre class="pairwise-value">{{ var_value|pprint }}</pre>
            </li>
            {% empty %}
            <li class="table-row text-sm">
                <span class="table-cell border-b px-6 py-2">
                    <code>request.FILES</code>
                </span>
                <span class="table-cell border-b px-6 py-2">
                    <code>No data12</code>
                </span>
            </li>
            {% endfor %}
            </ul>

            <div class="related-settings">
            <h6>Related settings</h6>
            <ul class="pairwise-group">
            {% for key, value in settings.items|dictsort:0 %}
            {% if 'DATA_UPLOAD' in key or 'FILE_UPLOAD' in key or 'MEDIA_' in key or 'DEFAULT_FILE_STORAGE' in key %}
            <li class="pairwise">
                <code class="pairwise-key">{{ key }}</code>
                <pre class="pairwise-value">{{ value|pprint }}</pre>
            </li>
            {% endif %}
            {% endfor %}
            </ul>
            </div>

        </section>

        {% if request_COOKIES_items %}
        <section id="cookies" class="hidden">


            <ul class="pairwise-group">
            {% for var_name, var_value in request_COOKIES_items|dictsort:0 %}
            <li class="pairwise">
                <code class="pairwise-key">{{ var_name }}</code>
                <code class="pairwise-value">{{ var_value|pprint }}</code>
            </li>
            {% endfor %}
            </ul>

            <div class="related-settings">
            <h6>Related settings</h6>

                <ul class="pairwise-group">
                {% for key, value in settings.items|dictsort:0 %}
                    {% if 'COOKIE' in key %}
            <li class="pairwise">
                <code class="pairwise-key">{{ key }}</code>
                <pre class="pairwise-value">{{ value|pprint }}</pre>
            </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </section>
        {% endif %}

        <section id="request_environ" class="hidden">

            <ul class="pairwise-group">
            {% if sys_executable %}
            <li class="pairwise">
                <span class="pairwise-key">Python Executable</span>
                <code class="pairwise-value">{{ sys_executable }}</code>
            </li>
            {% endif %}
            {% if sys_path %}
            <li class="pairwise">
                <span class="pairwise-key">Python Path</span>
                <span class="pairwise-value">
                    {% for path in sys_path %}
                    <code>{{ path }}</code>
                    {% endfor %}
                </span>
            </li>
            {% endif %}
            {% for var_name, var_value in request_meta.items|dictsort:0 %}
            <li class="pairwise">
                <code class="pairwise-key">{{ var_name }}</code>
                <code class="pairwise-value">{{ var_value|pprint }}</code>
            </li>
            {% endfor %}
            </ul>

        </section>

        <section id="settings" class="hidden">

            <div class="flex flex-col lg:flex-row bg-gray-100 rounded">
            <div class="w-full lg:w-1/2 py-4 px-6">
                <h6 class="font-semibold">Installed Apps</h6>
                <ol>
                    {% for app in settings.INSTALLED_APPS %}
                    <li><code>{{ app }}</code></li>
                    {% endfor %}
                </ol>
            </div>
            <div class="w-full lg:w-1/2  py-4 px-6 ">
                <h6 class="font-semibold">Installed Middleware</h6>
                <ol>
                    {% for mw in settings.MIDDLEWARE %}
                    <li><code>{{ mw }}</code></li>
                    {% endfor %}
                </ol>
            </div>
            </div>

            <ul class="pairwise-group" role="list">
            {% for var_name, var_value in settings.items|dictsort:0 %}
            <li class="pairwise">
                <span class="pairwise-key">
                    <code>{{ var_name }}</code>
                </span>
                <span class="pairwise-value">
                    <pre style="word-break: break-word">{{ var_value|pprint }}</pre>
                </span>
            </li>
            {% endfor %}
            </ul>

        </section>

    </div>
</div>
</body>
</html>
