@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
    html {
        max-width: 100vw;
        /*height: 100%;*/
    }

    body {
        @apply overflow-y-scroll text-gray-500 bg-white;
        max-width: 100vw;
        /*height: 100%;*/
        overscroll-behavior: none;
    }
    body.debug-grid {
        @apply relative top-0 left-0;
    }
    body.debug-grid:before {
        @apply absolute top-0 left-0 right-0 bottom-0 h-full select-none pointer-events-none z-50;
        max-width: 100vw;
        content: "";
        background-size: 0.5rem 1rem;
        background-image:
                /*linear-gradient(to bottom, rgba(0, 0, 255, 0.1) 1px, transparent 1px),*/
                linear-gradient(to right, rgba(0, 0, 255, 0.1) 1px, transparent 1px);
    }
}

@layer utilities {

    .px-consistent-outer {
        @apply px-4;
        @apply sm:px-6 md:px-8 lg:px-10;
    }

    .px-consistent {
        @apply px-2 sm:px-4 md:px-6;
    }
    .py-consistent {
        @apply py-2 sm:py-4 md:py-6;
    }

    .mx-consistent {
        @apply mx-4 md:mx-6;
    }

    .my-consistent {
        @apply my-2 sm:my-4;
    }

}

@layer components {
    .guideline:before{
        content: "";
         @apply block fixed top-0 bottom-0 left-0 border-l border-l-black w-0 h-full ml-4 md:ml-8 z-50;
     }
    .guideline:after{
        content: "";
         @apply block fixed top-0 bottom-0 left-0 border-l border-l-black w-0 h-full ml-8 md:ml-12 z-50;
     }

    .guideline2:before {
        content: "";
         @apply block fixed top-0 bottom-0 right-0 border-r border-r-black w-0 h-full mr-4 md:mr-8 z-50;
     }
    .guideline2:after {
        content: "";
         @apply block fixed top-0 bottom-0 right-0 border-r border-r-black w-0 h-full mr-8 md:mr-12 z-50;
     }
    /*.guideline {*/
    /*    @apply absolute h-full w-full select-none;*/

    /*    !* https://stackoverflow.com/a/32861765 *!*/
    /*    background-size: 1rem 1rem;*/
    /*    background-image:*/
    /*            linear-gradient(to bottom, rgba(0, 0, 255, 0.2) 1px, transparent 1px), linear-gradient(to right, rgba(0, 0, 255, 0.1) 1px, transparent 1px);*/
    /*}*/

    .notification {
        @apply py-2 px-8 sm:py-4 md:px-12
        bg-red-700 text-white max-w-[100vw]
        text-sm text-left md:text-base xl:text-center;
    }

    .masthead {
        @apply bg-red-400 p-4 md:p-8;
    }

    .masthead-details {
        @apply bg-white rounded w-full;
        /*
        https://shadows.brumm.af/
        https://www.joshwcomeau.com/css/designing-shadows/
        */
        box-shadow: 0px 0px 3.2px rgba(0, 0, 0, 0.035),
        0px 0px 8.8px rgba(0, 0, 0, 0.05),
        0px 0px 21.1px rgba(0, 0, 0, 0.065),
        0px 0px 70px rgba(0, 0, 0, 0.1);
    }

    .masthead-request {
        @apply
            px-4
            py-2
            md:py-4
        border-b flex flex-row items-start justify-start truncate;
    }

    .masthead-request-badge {
        @apply inline-flex items-center justify-center px-2 py-1 font-bold leading-none text-sm text-gray-500 bg-gray-200 rounded;
    }

    .masthead-request-url {
        @apply px-2 py-1 leading-none text-sm truncate;
    }

    .masthead-request-url-scheme,
    .masthead-request-url-host,
    .masthead-request-url-path,
    .masthead-request-url-qs {
        @apply pb-px border-b-white border-b;
        @apply motion-reduce:transition-none transition ease-out duration-300;
        @apply hover:border-b-gray-500 ease-in;
    }

    .masthead-error {
        @apply
            p-4
            md:py-6;
    }

    .masthead-error-title {
        @apply text-xl text-red-500 font-semibold;
        @apply md:text-3xl;
    }

    .masthead-error-subtitle {
        @apply text-base text-red-500 font-normal;
        @apply md:text-lg
    }

    .masthead-server-info {
        @apply p-4
        flex flex-col border-t w-full text-gray-500 text-sm
        md:flex-row;
    }


    .technical-error {
        @apply
        max-w-[100vw]
        px-4 md:px-8
        /*md:px-6 lg:px-10;*/
    }

    .technical-error-details {
        /*@apply container mx-auto;*/
    }

    .technical-error-details > section {
        /*@apply block;*/
        /*@apply px-6;*/
    }


    .tab-group {
        @apply
        p-4 md:px-8
        flex-row flex-wrap justify-center flex max-w-[100vw];
    }

    .tab {
        @apply uppercase text-sm grow cursor-pointer text-center px-1 py-4 border-b-4 border-b-red-50 font-semibold  bg-red-50;
        @apply hover:border-b-red-200 hover:text-red-400;
    }

    .tab:first-child {
      @apply rounded-l;
    }

    .tab:last-child {
      @apply rounded-r;
    }

    .tab.active {
        @apply transition duration-500 text-red-500 border-b-red-400;
    }

    .urls-explanation {
        @apply pb-4;
    }

    .urls-tried {
        @apply bg-gray-50 -mx-6 border border-gray-200 rounded;
    }

    .urls-tried li {
        @apply px-6 py-2 flex flex-row border-b border-b-gray-200;
        @apply hover:bg-gray-100;
    }

    .urls-tried li:first-child {
        @apply border-t-0;
    }

    .urls-tried li:last-child {
        @apply border-b-0;
    }

    .urls-tried-regex {
        @apply flex-grow;
    }

    .urls-tried-name {
        @apply flex-grow-0 text-sm font-normal;
    }

    .related-settings {
        @apply py-4;
    }

    .related-settings h6 {
        @apply
            px-4
        text-red-400 font-semibold;
    }


    .traceback {
        @apply bg-gray-50 border border-gray-200 rounded;
        /*@apply  -mx-6;*/
    }

    .traceback-cause-chain {
        @apply py-4 px-6 font-semibold bg-white text-red-500;
    }

    .traceback-frame {
        @apply border-b border-b-gray-200 cursor-pointer;
    }

    .traceback-where {
        @apply
        py-2 px-4

        border-b border-b-gray-200 flex flex-row  items-center text-sm
        sticky top-0 ;
    }

    .traceback-frame.library .traceback-where {
        @apply bg-gray-50 text-gray-400;
    }

    .traceback-frame.user .traceback-where {
        @apply bg-gray-100 text-gray-900;
    }

    .traceback-file {
        @apply flex-grow truncate;
    }

    .traceback-file code:first-child {
        @apply font-semibold;
    }

    .traceback-function {
        @apply flex-grow-0 pl-4;
    }

    .traceback-function code {
        @apply font-semibold;
    }

    .traceback-content {
        @apply bg-white py-4;
    }

    .traceback-context {
        @apply block overflow-hidden
        mx-4
        ;
        font-size: 0;
        line-height: 0;
    }
    .traceback-context > span {
        /* this is necessary for horizontal scrolling to paint the whole line red */
        @apply inline-block min-w-full;
    }

    .traceback-frame.active .traceback-context {
        @apply text-sm overflow-x-auto;
    }

    .traceback-context-raising {
        @apply text-sm
            block w-full pr-2
        ;
    }
    .traceback-context-raising .specific {
        @apply bg-red-600 px-2 py-[2px];
    }

    .traceback-frame.library .traceback-context-raising {
        @apply text-gray-400;
    }

    .traceback-frame.user .traceback-context-raising {
        @apply text-gray-900;
    }

    .traceback-frame.active .traceback-context-raising {
        @apply text-white bg-red-400 font-semibold;
    }

    .traceback-locals {
        /*@apply  bg-red-200 text-red-700;*/
        @apply hidden;
    }
    .traceback-locals > h6 {
        @apply text-red-500 font-semibold
        px-4 pt-4
    }

    .traceback-frame.active .traceback-locals {
        @apply block;
    }

    .traceback-clipboard {
    @apply font-semibold uppercase bg-red-50 text-sm py-2 px-3 rounded;
        @apply hover:bg-red-400 hover:text-white;
    }


    .pairwise-group {
        @apply block table-auto border-collapse text-sm
        lg:table
        ;
        /*@apply -mx-6;*/
        /* https://caniuse.com/intrinsic-width */
        /* It's the only way I can make negative margins take up the correct width */
        max-width: 100vw;
        width: 100%;
        /*width: -webkit-fill-available;*/
        /*width: -moz-available;*/
        /*width: stretch;*/
    }

    .pairwise {
        @apply
        block
        border-b
        pb-2
        lg:pb-0 lg:table-row;
    }

    .pairwise:last-child {
        @apply border-b-0;
    }

    .pairwise-key {
        @apply
        block w-full
        py-2 pl-4
        lg:w-4 lg:table-cell lg:min-w-[10%] lg:max-w-[40%];
    }

    .pairwise-value {
        @apply block max-w-full
     overflow-y-hidden overflow-x-auto
        py-0 mx-4
        lg:py-2 lg:pl-4 lg:table-cell lg:min-w-[60%] lg:max-w-[90%] ;
        word-break: break-word;
    }
    /*.pairwise-value > pre,*/
    /*.pairwise-value > code {*/
    /*    @apply overflow-y-hidden overflow-x-auto*/
    /*    ;*/
    /*    max-width: 100vw;*/
    /*    word-break: break-word;*/
    /*}*/


    .tooltip2 {
        @apply absolute z-50 top-6 rounded px-3 py-2 max-w-prose bg-gray-500 font-semibold select-none pointer-events-none text-white text-xs text-center;
        @apply transition ease-out opacity-0 duration-100 delay-100;
        transform: translateX(-50%) scale(0, 1);
        left: 50%;
    }

    .tooltip2.open {
        @apply opacity-100 duration-200;
        transform: translateX(-50%) scale(1, 1);
        transition-delay: 0s;

        box-shadow: 0px 0px 3.2px rgba(0, 0, 0, 0.035),
        0px 0px 8.8px rgba(0, 0, 0, 0.05),
        0px 0px 21.1px rgba(0, 0, 0, 0.065),
        0px 0px 70px rgba(0, 0, 0, 0.1)
    }

    .tooltip2:after {
        @apply absolute top-0 w-0 h-0 border-transparent border-b-gray-500 border-8 -ml-2 select-none pointer-events-none;
        @apply ease-linear duration-100;
        transition-property: top;
        content: "";
        left: 50%;
        z-index: -1;
        transition-delay: 0s;
    }

    .tooltip2.open:after {
        @apply -top-4 delay-200;
    }

    .tooltip2:hover:after {
        @apply -bottom-4 delay-200;
    }

    .tooltip {
        @apply relative;
    }

    .tooltip:before {
        @apply absolute z-20 top-6 rounded px-3 py-2 max-w-prose bg-gray-500 select-none pointer-events-none text-white text-xs text-center transition opacity-0 scale-0 ease-out duration-200 delay-1000;
        content: attr(aria-label);
        transform-origin: center;
        transform: translateX(-50%) scale(0);
        left: 50%;
        /*pointer-events: none;*/
    }

    .tooltip:hover:before {
        @apply opacity-100 ease-in;
        transition-delay: 0s;
        transform: translateX(-50%) scale(1);
    }

    .tooltip:after {
        @apply absolute z-10 w-0 h-0 -bottom-4 border-transparent border-b-gray-500 border-8 -ml-2 select-none pointer-events-none opacity-0 ease-out duration-100;
        transition-property: opacity, bottom;
        left: 50%;
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .tooltip:hover:after {
        @apply opacity-100 ease-in -bottom-2.5 delay-200;
    }
}
