@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  body {
    @apply overflow-y-scroll text-gray-500;
  }
}

@layer components {
  .notification {
    @apply bg-red-700 text-white p-4 text-sm md:text-base text-center;
  }

  .masthead {
    @apply bg-red-400 p-10;
  }

  .masthead-details {
    @apply container mx-auto bg-white pt-0 rounded;
    box-shadow:
  0px 0px 3.2px rgba(0, 0, 0, 0.035),
  0px 0px 8.8px rgba(0, 0, 0, 0.05),
  0px 0px 21.1px rgba(0, 0, 0, 0.065),
  0px 0px 70px rgba(0, 0, 0, 0.1)
;
  }

  .masthead-request {
    @apply py-4 px-6 border-b flex flex-row items-start justify-start;
  }

  .masthead-request-badge {
    @apply inline-flex items-center justify-center px-2 py-1 font-bold leading-none text-sm text-gray-500 bg-gray-200 rounded;
  }

  .masthead-request-url {
    @apply px-2 py-1 leading-none text-sm truncate;
  }

  .masthead-error {
    @apply px-6 py-6;
  }

  .masthead-error-title {
    @apply text-3xl text-red-400 font-semibold;
  }
  .masthead-error-subtitle {
    @apply text-lg text-red-400 font-normal;
  }
  .masthead-server-info {
    @apply px-6 py-4 flex flex-row border-t w-full text-gray-500 text-sm;
  }


  .technical-error {
    @apply bg-white lg:px-10;
  }

  .technical-error-details {
    @apply container mx-auto px-6;
  }


  .tab-group {
    @apply flex flex-col md:flex-row justify-center -mx-6 py-4;
  }

  .tab {
    @apply grow cursor-pointer text-center px-1 pb-4 border-b-4 font-semibold ;
    @apply  hover:border-b-red-200 hover:text-red-400;
  }

  .tab.active {
    @apply text-red-500 border-b-red-400;
  }

  .urls-explanation {
    @apply pb-4;
  }

  .urls-tried {
    @apply bg-gray-50 -mx-6 border border-gray-50 rounded;
    @apply hover:border-gray-200;
  }
  .urls-tried li {
    @apply px-6 py-2 flex flex-row;
    @apply hover:bg-gray-200;
  }
  .urls-tried li:last-child {
    @apply border-b-0;
  }

  .urls-tried-regex {
    @apply flex-grow;
  }

  .urls-tried-name {
    @apply flex-grow-0 text-sm font-normal;
  }

  .related-settings {
    @apply py-4 text-red-400 font-semibold text-base;
  }


  .pairwise-group {
    @apply table table-auto text-sm -mx-6;
    /* https://caniuse.com/intrinsic-width */
    /* It's the only way I can make negative margins take up the correct width */
    width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
  }

  .pairwise {
    @apply table-row;
  }

  .pairwise-key {
    @apply table-cell border-b py-2 pl-6 pr-2 min-w-[10%] max-w-[40%];
    width: 1rem;
  }

  .pairwise-value {
    @apply table-cell border-b py-2 pl-2 pr-6 min-w-[60%] max-w-[90%];
    word-break: break-word;
  }
}
